/* assets/css/dark.css */
body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #bb86fc;
}

header, footer {
    background-color: #1e1e1e;
}

code, pre {
    background-color: #1e1e1e;
    color: #f5f5f5;
}
